@font-face {
    font-family: 'roboto';
    src: url('/public/fonts/Roboto-VariableFont_wdth\,wght.ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'robotoItalic';
    src: url('/public/fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}